<h1>The random url for <%="#{@random_url}"%> is:</h1>

<h2> <%= link_to "localhost:3000/urls/go/#{@random_string}", @random_url %></h2>



<img src="http://api.webthumbnail.org?width=400&height=300&screen=1280&format=png&url=<%= @random_url %>" alt="no_preview.png"/>
