<div>
	<h1> Your code is: </h1>
     <h2> <%= @url.random_string %> <h2>
     <h2>Go to localhost:3000/go/<%="#{@random_string}"%> to visit your URL.</h2>

</div>



<%= render partial: "form_return" %>